@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

img{
    float:left;
    padding:10px;
}
.heading{
    display:inline-block;
    width: 400px;
    margin-top:10px;
    margin-left: 37%;
    align-items: center;
  justify-content: center;
}
body{
  margin: 0;
  background-image: url('../Assets/aboutbg.png');
  background-position: center;
  background-repeat: repeat;
  align-items: center;
  justify-content: center;
  background-color: black;
}
h1,h5{
    color: white;
    margin: 0;
    padding: 3px;
    border: none;
}
.container{
  padding: 20px 70px;
  position: relative;
  background-color: white;
  left:15%;
  width: 70%;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
        }
    }
    a{
        text-decoration: none;
        color: inherit;
      }
    .forlink{
        font-size: 15px;
      }
    .underline{
        position: relative;
      }
      
      .underline::before{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background-color: #fff !important;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      }
      
      @media (hover: hover) and (pointer: fine) {
        .underline:hover::before{
          left: 0;
          right: auto;
          width: 100%;
        } 
      }
    footer{
        text-align: center;
        color: #fff;
        font-size: 8px;
      }
