@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

header{
  display: block;
  height: 120px;
  line-height: 150px;
  text-align: center;
  color: black;
}
hr{
  color: #fff;
  width: auto;
  justify-content: center;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
}
h1, h2, h3, h5{
  color: #fff;
}
p{
  color: #fff;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 80 auto;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 10%;
  margin-left: -3px;
}
.container {
  padding: 1px 40px;
  position: relative;
  background-color: inherit;
  width: 80%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 10%;
}


/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
a{
  text-decoration: none;
  color: #fff;
}
.forlink{
  font-size: 20px;
}
.underline{
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #fff !important;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  } 
}
iframe{ 
  border: none; 
  width: 600px; 
  height: 500px; 
  overflow: hidden;
  
} 
#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color:#FF9F55;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}
.justshift{
  text-align: center;
  color: #fff;
}
footer{
  text-align: center;
  color: #fff;
  font-size: 8px;
}

.next {
  background-color: #FF9F55;
  color: white;
  box-sizing: 80px 30px;
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
  margin-left: 12px;
}

.round {
  border-radius: 4%;
}